@media screen and (max-width: 1600px) {
  .pricing-content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 50px;
  }
  .pricing-section {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-card {
    min-width: 300px
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 767px) {
  .pricing-content {
    flex-direction: column;
    gap: 91px;
    align-items: center;
  }
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 320px) {
}
