@media screen and (max-width: 1600px) {
  p {
    font-weight: 400;
    font-size: 24px;
    color: #8f95a5;
  }
}

@media screen and (max-width: 992px) {
  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  p {
    font-size: 14px;
  }
}
