@media screen and (max-width: 1600px) {
  .about_content {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 200px;
  }

  .about_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 60%;
    padding-right: 40px;
  }

  .about_img {
    width: 40%;
  }

  .about_img img {
    width: 100%;
  }

  .services-boxes {
    display: flex;
    gap: 50px;
  }

  .service-box {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 767px) {
  .about_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    order: 2;
    width: 100%;
    padding-right: 0;
  }

  .about_img {
    order: 1;
    width: 100%;
    text-align: center;
  }

  .about_img img {
    width: 80%;
  }

  .services-boxes {
    gap: 80px;
  }
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 320px) {
}
